{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        House Price: {{ housePrice }}
      </div>
      <div class="col">
        Down Payment: {{ downPayment }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        Amortization Period: {{ amortizationPeriod }}
      </div>
      <div class="col">
        Annual Interest Rate: {{ annualIR }}
      </div>
    </div>
  </div>
  <div class="input-group">
    <select class="form-select" id="inputGroupSelect04" aria-label="Select the type of chart to build">
      <option selected>Choose chart type</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>Month No</th>
          <th>Mortgage Paid</th>
          <th>Contribution to Principal (CTP)</th>
          <th>% CTP</th>
        </tr>
      </thead>
      <tbody>
        {% for mortgagedata in mortgageInfo %}
          <tr>
            <td>{{ mortgagedata[0] }}</td>
            <td>{{ '%0.2f' % mortgagedata[1]|float }}</td>
            <td>{{ '%0.2f' % mortgagedata[2]|float }}</td>
            <td>{{ '%0.4f' % mortgagedata[3]|float }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: true},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}
